node_modules
packages/*/node_modules
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
Pods

ios/build

.gradle
local.properties
build/
captures/
library/

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Java class files
*.class

# Exclude OS X folder attributes
.DS_Store

# log files
*.log